:root {
    --PrimeryColor: hsl(199, 100%, 33%);
    --SecenderyColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(
      to right,
      hsl(187, 85%, 43%),
      hsl(199, 100%, 33%)
    );
    --WhiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inpotColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(255, 255, 235);
  }

  .TravelerInfo{
    direction: rtl;
    margin: 2rem;

    .title {
        position: relative;
        color: var(--textColor);
        margin: 1rem 0;
        z-index: 2;
        font-size: xx-large;

        &::after{
            position:absolute;
            content: '';
            background: var(--SecenderyColor);
            height: 5px;
            width: 20px;
            right: 0;
            bottom: 5px;
            z-index: -1;
        }

    }

    .form{
margin: 1rem;

        .sectitel{
            color: var(--textColor);
            margin-bottom: 0.5rem;
    
        }

        

    }

    


    
  }